// TYPOGRAPHY
$primary-font: 'Roboto Slab', serif;
$secondary-font: 'Montserrat', sans-serif;

// PALETTE
$text-color-dark: #222;
$text-color-light: #fff;
$primary-color: #222;
$secondary-color: #fff;
$accent-color:  #7cc576;

// MARGINS
$margin-large: 40px;
//$margin-medium: 20px;
$margin-small: 30px;
