// TYPOGRAPHY
$primary-font: 'Roboto Slab', serif;
$secondary-font: 'Montserrat', sans-serif;

// PALETTE
$text-color-dark: #222;
$text-color-light: #fff;
$text-color-neutral: #777777;
$text-color-grey: #cccccc;
$primary-color: #222;
$secondary-color: #fff;
$accent-color:  #7cc576;
$grey-background-first: #e9e9e9;
$grey-background-second: #f9f9f9;

// MARGINS
$margin-large: 40px;
$margin-small: 30px;

// SHADOW
$shadow: 1px 1px 2px rgba(0,0,0,.5);
