@import '../utils/_variables.scss';

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  background-color: $secondary-color;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
