@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab&display=swap');
@import '../utils/variables';

html {
  color: $text-color-neutral;
  font-family: $primary-font;
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

.section__heading {
  color: $text-color-dark;
  font-family: $secondary-font;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  &--light {
    color: $text-color-light;
  }
}

.section__subheading {
  color: $text-color-neutral;
  font-size: 20px;
  text-align: center;
}
