@import '../utils/variables';
@import '../utils/media';

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.section {
  padding: 10rem 23rem;
  @include respond(lg){
    padding: 10rem;
  }
  @include respond(md){
    padding: 5rem;
  }
  @include respond(xs){
    padding: 2rem 1rem;
  }
}

.features {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 8.6rem;
  overflow: hidden;
  &__feature {
    display: flex;
    flex-flow: column nowrap;
    font-family: $secondary-font;
    opacity: 0;
    transition: opacity 2.6s;
    text-align: center;
    @include respond(xs){
      margin-bottom: 2rem;
    }
    &__img {
      margin: 0 auto;
      position: relative;
      width: 35%;
      > img {
        display: block;
        width: 100%;
      }
      &--bordered {
        border: 3px solid $text-color-neutral;
        border-radius: 50%;
        padding: 2rem;
      }
      @include respond(xs){
        width: 20%;
      }
    }
    &__heading {
      color: $text-color-dark;
      font-size: 1.8rem;
      margin: 3rem 0 1.5rem;
      text-transform: uppercase;
    }
    > p {
      font-size: 1.4rem;
    }
    &:not(:last-of-type) {
      margin-right: 5.6rem;
      @include respond(xs){
        margin-right: 0;
      }
    }
  }
  @include respond(xs){
    flex-flow: column nowrap;
  }
}

//.centeredFeature {
//  &:after {
//    background-color: $text-color-neutral;
//    content: '';
//    height: 3px;
//    left: 120%;
//    position: absolute;
//    top: 50%;
//    width: 200%;
//    transform: translateY(-50%);
//  }
//}


.cta--first {
  @include centered;
  height: 618px;
  position: relative;
  &__background {
    background-color: $grey-background-first;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 35%;
    > img {
      left: 100%;
      width: 90%;
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }
  &__content {
    background-size: cover;
    background: url("../../assets/images/cta-background.png") no-repeat center;
    height: 100%;
    position: relative;
    width: 65%;
    .overlay {
      background-color: rgba($primary-color, .8);
      color: $text-color-grey;
      font-size: 1.6rem;
      height: 100%;
      left: 0;
      padding: 10rem;
      position: absolute;
      top: 0;
      width: 100%;
      > ul {
        list-style-type: none;
        margin-top: 2.9rem;
        li {
          align-items: center;
          display: flex;
          flex-flow: row nowrap;
          margin-bottom: .8rem;
          span:first-of-type {
            margin-right: 2rem;
            width: 5%;
          }
          span:last-of-type {
            width: 80%;
          }
          img {
            width: 100%;
          }
        }
      }
      > h2 {
        color: $text-color-light;
        font-family: $secondary-font;
        font-size: 4rem;
        letter-spacing: -2;
        margin-bottom: 4.5rem;
        text-transform: uppercase;
        > span {
          color: $accent-color;
        }
      }
    }
  }
  button {
    margin-top: 2rem;
  }
  @include respond(md){
    .cta--first__background {
      display: none;
    }
    .cta--first__content {
      width: 100%;
    }
    .cta--first__content .overlay {
      padding: 5rem;
    }
  }
}

.logotypes {
  padding: 6rem;
  @include centered;
  flex-wrap: wrap;
  &__client {
    padding: .5rem 0;
    &:not(:last-of-type) {
      margin-right: 4rem;
    }
  }
}

.values {
  background-color: $grey-background-second;
}

.project {
  background: url("../../assets/images/tablet.png") no-repeat 203% 85%;
  background-size: 75%;
  h4 {
    color: $text-color-dark;
    font-family: $secondary-font;
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
    text-transform: uppercase;
  }
  h4 + p {
    font-size: 1.6rem;
  }
  &__description {
    margin-top: 8.6rem;
    width: 50%;
    > p {
      font-size: 1.6rem;
    }
    &__feature {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      margin: 2rem 0;
      div {
        border: 2px solid black;
        border-radius: 50%;
        min-height: 6.7rem;
        height: 6.7rem;
        margin-right: 2rem;
        padding: 1.4rem;
        min-width: 6.7rem;
        width: 6.7rem;
      }
      img {
        width: 100%;
      }
      h5 {
        color: $text-color-dark;
        font-family: $secondary-font;
        font-size: 1.8rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
    &__link {
      display: block;
      color: $accent-color;
      font-family: $secondary-font;
      font-size: 1.6rem;
      font-weight: 700;
      margin-top: 2.5rem;
      text-transform: uppercase;
    }
  }
  @include respond(md){
    background: none;
    &__description {
      width: 100%;
    }
  }
}

.clients {
  padding: 10rem 8rem;
  &__wrapper {
    margin: 8.6rem 0 7.5rem;
  }
  @include respond(md){
    max-width: 100%;
  }
  @include respond(xs){
    padding: 2rem 1rem;
  }
}

.client {
  @include centered;
  position: relative;
  opacity: 0;
  transition: opacity 2.6s;
  @include respond(md){
    flex-flow: column;
  }
  &:first-of-type {
    margin-bottom: 8.1rem;
  }
  &--left {
    right: 2%;
    @include respond(md){
      right: 0;
    }
    .client__opinion {
      margin-left: 4rem;
      &:before {
        @include triangle;
        border-width: 12px 24px 12px 12px;
        border-color: transparent $grey-background-second transparent transparent;
        right: 100%;
        @include respond(md){
          border-width: 0 12px 24px 12px;
          border-color: transparent transparent $grey-background-second transparent;
          left: 50%;
          transform: translateY(0);
          transform: translateX(-50%);
          top: -24px;
        }
      }
      @include respond(md){
        margin-left: 0;
      }
    }
  }
  &--right {
    left: 2%;
    @include respond(md){
      left: 0;
    }
    .client__image {
      order: 2;
      @include respond(md){
        order: 0;
      }
    }
    .client__opinion {
      margin-right: 4rem;
      &:before {
        @include triangle;
        border-width: 12px 0 12px 24px;
        border-color: transparent transparent transparent $grey-background-second;
        left: 100%;
        @include respond(md){
          border-width: 0 12px 24px 12px;
          border-color: transparent transparent $grey-background-second transparent;
          left: 50%;
          transform: translateY(0);
          transform: translateX(-50%);
          top: -24px;
        }
      }
      @include respond(md){
        margin-right: 0;
      }
    }
  }
  &__image {
    @include centered;
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
    height: 22rem;
    width: 22rem;
    img {
      height: 120%;
      width: auto;
    }
  }
  &__opinion {
    background-color: $grey-background-second;
    font-size: 2.2rem;
    max-width: 60%;
    padding: 4.2rem;
    position: relative;
    text-align: center;
    p {
      margin-bottom: 1.8rem;
    }
    &__personalData {
      color: $accent-color;
      font-size: 1.8rem;
      &:before {
        content: "-";
      }
    }
    @include respond(md){
      margin-top: 4rem;
      max-width: 100%;
    }
  }
}

.ctaFinal {
  background-color: $accent-color;
  padding: 6rem;
  text-align: center;
  h2 {
    margin-bottom: 3.2rem;
  }
}
