@import '../utils/variables';
@import '../utils/mixins';

.header {
  color: $text-color-light;
  background-size: cover;
  background: #222222 url("../../assets/images/header_background.png") no-repeat center;
  height: 75vh;
  font-size: 2rem;
  max-height: 530px;
  position: relative;
  &__overlay {
    align-items: center;
    background-color: rgba($primary-color,.8);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    text-align: center;
    width: 100%;
    > p {
      margin: $margin-large 0;
    }
  }
  &__heading {
    font-family: $secondary-font;
    font-size: 6rem;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
    @include respond(md){
      width: 100%;
    }
  }
}
