@import '../utils/variables';
@import '../utils/mixins';

.navigation {
  background-color: rgba($secondary-color,.9);
  display: flex;
  flex-flow: row nowrap;
  height: 10vh;
  justify-content: space-between;
  left: 0;
  padding: 0 16%;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  ul {
    @include centered;
    list-style-type: none;
    text-transform: uppercase;
  }
  li {
    height: 100%;
    margin-left: 2rem;
    a {
      @include centered;
      color: $text-color-dark;
      font-family: $secondary-font;
      font-size: 14px;
      height: 100%;
      overflow: hidden;
      position: relative;
      text-decoration: none;
      &::after {
        background-color: $accent-color;
        bottom: 20%;
        content: '';
        height: .4rem;
        left: -100%;
        position: absolute;;
        transition: .5s transform ease-in-out;
        width: 100%;
      }
      &:hover::after, &:active::after {
        transform: translateX(100%);
      }
    }
  }
  @include respond(md){
    padding: 0 5%;
  }
  @include respond(sm){
    display: none;
  }
}

.logo {
  flex-flow: row nowrap;
  @include centered;
  span:first-of-type {
    @include centered;
    background-color: $accent-color;
    border-radius: 50%;
    height: 2.9rem;
    margin-right: 5px;
    width: 2.9rem;
  }
  span:last-of-type {
    font-family: $secondary-font;
    font-size: 18px;
  }
}
